@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Kameron:wght@400;700&display=swap');

.body {
  margin: 0;
  font-family: 'Kameron', serif;  /* Main body font */
  background-color: #000;         /* Changed background to black */
  color: #fff;                    /* Text color set to white */
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Kameron', serif; /* Main body font */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: #fff; /* Text color set to white */
}
